/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .cart-wrapper,
  .nav-wrapper {
    width: 300px;
  }

  nav,
  .nav-links,
  .btn-search,
  .btn-wishlist {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .container {
    padding-inline: 1.5rem;
  }

  header .logo {
    width: 11.25rem;
  }

  #hero {
    width: 60%;
  }

  #store .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .top-scroll {
    display: grid;
    place-items: center;
  }

  #custom .container {
    grid-template-columns: 1fr;
  }

  #custom .custom-content {
    width: 100%;
    position: static;
    grid-row: 2 / 3;
  }

  #custom .custom-content h2 {
    font-size: 1.375rem;
    line-height: 32px;
  }

  #special-offer .container .main-title {
    font-size: 2.813rem;
  }

  #special-offer .container .lead {
    font-size: 1.75rem;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  header .container:last-child {
    justify-content: center;
  }

  #hero {
    width: 70%;
    margin-top: 4rem;
  }

  .hero-lead {
    display: none;
  }

  #hero p,
  #hero h1 {
    text-align: center;
  }

  #hero h1 {
    font-size: 2.25rem;
    margin-bottom: 25px;
  }

  .hero-cta {
    justify-content: center;
    animation-delay: 0.5s;
  }

  #store .container {
    grid-template-columns: 1fr;
    padding-block: 2rem;
  }

  #special-offer .container {
    grid-template-columns: 1fr;
  }

  #special-offer .special-offer-content {
    padding-left: 0;
    grid-row: 1 / 2;
  }

  #special-offer .container .main-title {
    font-size: 35px;
  }

  #special-offer .container .lead {
    font-size: 22px;
  }

  #special-offer .btn-special-offer {
    margin-top: 0;
  }

  #footer .container .footer-content {
    flex-direction: column;
    gap: 20px;
  }

  .footer-links {
    flex: 1;
    gap: 2rem;
  }

  #footer .copyright .container {
    flex-direction: column;
    gap: 20px;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  #hero {
    width: 100%;
  }

  #hero p,
  #hero h1 {
    text-align: start;
  }

  .hero-cta {
    justify-content: start;
  }

  header .logo {
    height: 24px;
  }
}
