:root {
  --white-30: hsl(0, 0%, 94%);
  --white-20: hsl(0, 0%, 96%);
  --white-50: hsla(0, 0%, 100%, 0.902); /* button top scroll */
  --white-100: hsl(0, 0%, 100%);
  --black-80: hsl(0, 0%, 20%); /* title or secondary */
  --black-100: hsl(0, 0%, 13%); /* button, header, */
  --gray-100: #777777; /* text or lead, */
  --gold: #c3935b;

  --ff-lora: 'Lora', serif;
  --ff-marcellus: 'Marcellus', serif;
  --ff-marcellus-sc: 'Marcellus SC', serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: var(--ff-lora);
  background-color: var(--white-30);
  overflow-x: hidden;
}

body.no-scroll {
  overflow: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

button {
  border: none;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}

button,
input {
  font-family: inherit;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

/* Styling for reusable class */

.container {
  max-width: 68.889rem;
  width: 100%;
  margin-inline: auto;
  padding-inline: 1rem;
}

.nav-links {
  font-family: var(--ff-marcellus);
  font-size: 14px;
  color: var(--white-50);
}

.logo {
  max-width: 100%;
  height: auto;
}

.subtitle {
  color: var(--gold);
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 10px;
  text-align: center;
}

.lead {
  color: var(--gray-100);
  font-size: 0.875rem;
  line-height: 24px;
  margin-bottom: 22px;
  text-align: justify;
}

.main-title {
  font-family: var(--ff-marcellus-sc);
  font-size: 2.625rem;
  font-weight: 500;
  color: var(--black-100);
  margin-bottom: 10px;
  text-align: center;
}

.title {
  font-family: var(--ff-marcellus-sc);
  font-size: 1.75rem;
  font-weight: 400;
  color: var(--black-800);
  margin-bottom: 10px;
  text-align: center;
}

/* Styling for overlay content */
.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1.5px) brightness(70%);
  color: white;
  padding: 20px;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
}

.overlay.show {
  opacity: 1;
  visibility: initial;
}

.nav-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 340px;
  background-color: var(--white-100);
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.nav-wrapper.show {
  opacity: 1;
  visibility: initial;
  transform: translateX(0);
}

.search-form {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding-inline: 20px;
  border-bottom: 1px solid var(--white-30);
}

.search-form input {
  width: 80%;
  height: 100%;
  border: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 22.4px;
  color: var(--white-100);
}

.search-form button {
  background-color: transparent;
}

.search-form button .search-icon {
  color: var(--gray-100);
  font-size: 18px;
}

.nav-wrapper h3 {
  color: var(--black-100);
  background-color: var(--white-30);
  padding-block: 18px;
  font-family: var(--ff-marcellus-sc);
  font-size: 18px;
  font-weight: 400;
  line-height: 25.48px;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 2px solid var(--gold);
}

.nav-wrapper .nav-mobile ul {
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
}

.nav-wrapper .nav-mobile ul li {
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid var(--white-30);
}

.nav-wrapper .nav-mobile ul li a {
  color: var(--black-80);
  font-size: 13px;
  text-transform: uppercase;
}

.nav-wrapper .nav-mobile ul li:nth-child(5) a,
.nav-wrapper .nav-mobile ul li:nth-child(6) a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-wrapper .nav-mobile ul li:nth-child(5) a span:first-child,
.nav-wrapper .nav-mobile ul li:nth-child(6) a span:first-child {
  font-size: 16px;
}

.cart-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 340px;
  background-color: var(--white-100);
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
  transition: all 0.3s ease;
}

.cart-wrapper.show {
  opacity: 1;
  visibility: initial;
  transform: translateX(0);
}

.cart-wrapper .cart-header {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
  border-bottom: 1px solid var(--white-30);
}

.cart-wrapper .cart-header h3 {
  color: var(--black-100);
  font-family: var(--ff-marcellus-sc);
  font-size: 18px;
  font-weight: 400;
  line-height: 25.48px;
  text-transform: uppercase;
}

.cart-wrapper .btn-close-cart {
  background-color: transparent;
}

.cart-wrapper .btn-close-cart span {
  color: var(--gray-100);
}

.cart-wrapper .cart-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px;
  margin-top: 20px;
}

.cart-wrapper .cart-icon {
  color: var(--white-30);
  font-size: 120px;
}

.cart-wrapper .cart-content p {
  color: var(--black-100);
  font-size: 14px;
  font-family: var(--ff-marcellus-sc);
  text-align: center;
}

.top-scroll {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 99;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--white-100);
  border: 1px solid var(--white-50);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  opacity: 0;
  visibility: hidden;
  transform: translateX(2rem);
  transition: all 0.4s ease-in-out;
}

.top-scroll.show {
  opacity: 1;
  visibility: initial;
  transform: translateX(0);
}

/* Styling for Header */
header {
  position: relative;
  height: 36.111rem;
}

.header-background {
  position: absolute;
  inset: 0;
  background: url(../assets/images/hero.jpg) no-repeat center/cover;
  filter: brightness(90%);
  z-index: -1;
}

header .container,
ul,
.nav-cta {
  display: flex;
  align-items: center;
}

header .container {
  position: relative;
  z-index: 2;
  justify-content: space-between;
  padding-block: 24px;
}

header #navigation {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 98;
  background-color: transparent;
  transform: translateY(0);
  transition: all 0.2s ease;
}

header #navigation.scrolled {
  background-color: var(--black-100);
}

header #navigation.hide {
  transform: translateY(-100%);
}

#navigation .container {
  justify-content: space-between;
}

header .logo {
  width: 12.222rem;
  height: 2rem;
}

ul,
.nav-cta {
  gap: 20px;
}

.nav-links:hover,
.nav-cta button span:hover {
  color: var(--white-100);
}

.nav-cta .nav-links {
  text-transform: uppercase;
}

.nav-cta button {
  background-color: transparent;
  width: 20px;
  height: 20px;
}

.nav-cta button span {
  width: 100%;
  height: 100%;
  color: var(--white-50);
}

.btn-cart {
  position: relative;
}

.nav-cta .count {
  position: absolute;
  top: -5px;
  right: -10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--gold);
  display: grid;
  place-items: center;
  font-size: 0.563rem;
  font-family: var(--ff-lora);
}

header .container:last-child {
  justify-content: flex-end;
}

#hero {
  width: 40%;
  padding-top: 6rem;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#hero p {
  color: var(--white-50);
  font-size: 1.375rem;
  font-style: italic;
  line-height: 28px;
  margin-bottom: 10px;
  animation: fadeInUp 0.5s ease-out forwards;
  animation-delay: 0.1s;
  opacity: 0;
}

#hero h1 {
  color: var(--white-100);
  font-family: var(--ff-marcellus);
  font-size: 42px;
  font-weight: 400;
  line-height: 54px;
  text-transform: uppercase;
  margin-bottom: 10px;
  animation: fadeInUp 0.5s ease-out forwards;
  animation-delay: 0.3s;
  opacity: 0;
}

#hero .hero-lead {
  font-size: 1rem;
  font-style: normal;
  margin-bottom: 25px;
  animation: fadeInUp 0.5s ease-out forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

.hero-cta {
  display: flex;
  align-items: center;
  gap: 14px;
  animation: fadeInUp 0.5s ease-out forwards;
  animation-delay: 0.7s;
  opacity: 0;
}

.btn-hero {
  padding: 10px 20px;
  font-size: 0.813rem;
  font-weight: 600;
  line-height: 22.4px;
  text-transform: uppercase;
}

.shop {
  background-color: var(--white-100);
  color: var(--black-80);
}

.view {
  background-color: transparent;
  color: var(--white-100);
  border: 1px solid var(--white-50);
}

.shop:hover {
  background-color: var(--white-50);
}

.view:hover {
  border-color: var(--white-100);
}

.hamburger {
  background-color: transparent;
  display: none;
}

.btn-hamburger {
  color: var(--white-100);
}

/* Styling for Store content */

#store .container {
  display: grid;
  grid-template-columns: 1fr 1.8fr;
  gap: 32px;
  padding-top: 10rem;
}

#store .store-img {
  height: 500px;
  border-radius: 12px;
  overflow: hidden;
}

#store .hero-cta {
  justify-content: center;
  gap: 14px;
}

#store .shop {
  background-color: var(--black-100);
  color: var(--white-100);
}

#store .view {
  background-color: transparent;
  color: var(--gray-100);
  border: 1px solid var(--gray-100);
}

/* Styling for Custom Jewelry content */

#custom .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding-top: 8rem;
}

#custom .custom-content {
  background-color: var(--white-100);
  width: 110%;
  position: relative;
  right: -2rem;
  padding: 35px 50px 20px;
}

#custom .custom-content h2 {
  color: var(--black-80);
  font-family: var(--ff-marcellus-sc);
  font-size: 28px;
  font-weight: 400;
  line-height: 38px;
  margin-bottom: 20px;
}

#custom .custom-content .description,
#custom .custom-content .founder-quote {
  color: var(--gray-100);
  font-size: 14px;
  line-height: 22.4px;
  margin-bottom: 20px;
}

#custom .custom-content .founder-quote {
  padding-left: 2rem;
  border-left: 5px solid var(--gold);
  text-align: justify;
  font-style: oblique;
}

#custom .custom-content cite {
  display: block;
  text-align: right;
  color: var(--black-100);
}

#custom .custom-content cite span {
  font-weight: 600;
}

/* Styling for Special Offer content */

#special-offer{
  background-color: var(--white-100);
}

#special-offer .container {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: 1.5rem;
  padding-block: 8rem;
}

#special-offer .special-offer-content {
  padding-left: 2rem;
}

#special-offer .container .subtitle,
#special-offer .container .main-title {
  text-align: start;
}

#special-offer .container .main-title {
  font-size: 4.063rem;
}

#special-offer .container .lead {
  color: var(--black-100);
  font-size: 2.5rem;
  text-transform: uppercase;
}

#special-offer .btn-special-offer {
  display: inline-block;
  padding: 10px 20px;
  font-size: 0.813rem;
  font-weight: 600;
  line-height: 22.4px;
  text-transform: uppercase;
  background-color: var(--black-100);
  color: var(--white-100);
  margin-top: 20px;
}

#special-offer .video-wrapper video {
  width: 100%;
  height: 100%;
}

/* Styling for Collection content */

#collection {
  padding-block: 8rem;
}

.collection-content {
  max-width: 768px;
  margin-inline: auto;
}

.collection-img-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}
