:root {
  --white-30: hsl(0, 0%, 94%);
  --white-20: hsl(0, 0%, 96%);
  --white-50: hsla(0, 0%, 100%, 0.902); /* button top scroll */
  --white-100: hsl(0, 0%, 100%);
  --black-80: hsl(0, 0%, 20%); /* title or secondary */
  --black-100: hsl(0, 0%, 13%); /* button, header, */
  --gray-100: #777777; /* text or lead, */
  --gold: #c3935b;

  --ff-lora: 'Lora', serif;
  --ff-marcellus: 'Marcellus', serif;
  --ff-marcellus-sc: 'Marcellus SC', serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: var(--ff-lora);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

button {
  border: none;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}

button,
input {
  font-family: inherit;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

/* ================================================ */

.container {
  max-width: 68.889rem;
  width: 100%;
  margin-inline: auto;
  padding-inline: 1rem;
}

.nav-links {
  font-family: var(--ff-marcellus);
  font-size: 14px;
  color: var(--white-50);
}

.logo {
  max-width: 100%;
  height: auto;
}

/* ========================================== */

/* Styling for overlay content */
.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1.5px) brightness(70%);
  color: white;
  padding: 20px;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
}

.overlay.show {
  opacity: 1;
  visibility: initial;
}

.nav-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 340px;
  background-color: var(--white-100);
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

.nav-wrapper.show {
  opacity: 1;
  visibility: initial;
  transform: translateX(0);
}

.search-form {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding-inline: 20px;
  border-bottom: 1px solid var(--white-30);
}

.search-form input {
  width: 80%;
  height: 100%;
  border: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 22.4px;
  color: var(--white-100);
}

.search-form button {
  background-color: transparent;
}

.search-form button .search-icon {
  color: var(--gray-100);
  font-size: 18px;
}

.nav-wrapper h3 {
  color: var(--black-100);
  background-color: var(--white-30);
  padding-block: 18px;
  font-family: var(--ff-marcellus-sc);
  font-size: 18px;
  font-weight: 400;
  line-height: 25.48px;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 2px solid var(--gold);
}

.nav-wrapper .nav-mobile ul {
  flex-direction: column;
  align-items: flex-start;
  gap: 0;
}

.nav-wrapper .nav-mobile ul li {
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid var(--white-30);
}

.nav-wrapper .nav-mobile ul li a {
  color: var(--black-80);
  font-size: 13px;
  text-transform: uppercase;
}

.nav-wrapper .nav-mobile ul li:nth-child(5) a,
.nav-wrapper .nav-mobile ul li:nth-child(6) a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-wrapper .nav-mobile ul li:nth-child(5) a span:first-child,
.nav-wrapper .nav-mobile ul li:nth-child(6) a span:first-child {
  font-size: 16px;
}

.cart-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 340px;
  background-color: var(--white-100);
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
  transition: all 0.3s ease;
}

.cart-wrapper.show {
  opacity: 1;
  visibility: initial;
  transform: translateX(0);
}

.cart-wrapper .cart-header {
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15px;
  border-bottom: 1px solid var(--white-30);
}

.cart-wrapper .cart-header h3 {
  color: var(--black-100);
  font-family: var(--ff-marcellus-sc);
  font-size: 18px;
  font-weight: 400;
  line-height: 25.48px;
  text-transform: uppercase;
}

.cart-wrapper .btn-close-cart {
  background-color: transparent;
}

.cart-wrapper .btn-close-cart span {
  color: var(--gray-100);
}

.cart-wrapper .cart-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px;
  margin-top: 20px;
}

.cart-wrapper .cart-icon {
  color: var(--white-30);
  font-size: 120px;
}

.cart-wrapper .cart-content p {
  color: var(--black-100);
  font-size: 14px;
  font-family: var(--ff-marcellus-sc);
  text-align: center;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Styling for Header */
header {
  position: relative;
  height: 36.111rem;
}

.header-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../assets/images/hero.jpg) no-repeat center/cover;
  filter: brightness(90%);
  z-index: 1;
}

header .container,
ul,
.nav-cta {
  display: flex;
  align-items: center;
}

header .container {
  position: relative;
  z-index: 2;
  justify-content: space-between;
  padding-block: 24px;
}

header .logo {
  width: 12.222rem;
  height: 2rem;
}

ul,
.nav-cta {
  gap: 20px;
}

.nav-links:hover,
.nav-cta button span:hover {
  color: var(--white-100);
}

.nav-cta .nav-links {
  text-transform: uppercase;
}

.nav-cta button {
  background-color: transparent;
  width: 20px;
  height: 20px;
}

.nav-cta button span {
  width: 100%;
  height: 100%;
  color: var(--white-50);
}

.btn-cart {
  position: relative;
}

.nav-cta .count {
  position: absolute;
  top: -5px;
  right: -10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--gold);
  display: grid;
  place-items: center;
  font-size: 0.563rem;
  font-family: var(--ff-lora);
}

header .container:last-child {
  justify-content: flex-end;
  margin-top: 2rem;
}

#hero {
  width: 50%;
}

#hero p {
  color: var(--white-50);
  font-size: 1.375rem;
  font-style: italic;
  line-height: 28px;
  margin-bottom: 10px;
  animation: fadeInUp 0.5s ease-out forwards;
  animation-delay: 0.1s;
  opacity: 0;
}

#hero h1 {
  color: var(--white-100);
  font-family: var(--ff-marcellus);
  font-size: 42px;
  font-weight: 400;
  line-height: 54px;
  text-transform: uppercase;
  margin-bottom: 10px;
  animation: fadeInUp 0.5s ease-out forwards;
  animation-delay: 0.3s;
  opacity: 0;
}

#hero .hero-lead {
  font-size: 1rem;
  font-style: normal;
  margin-bottom: 25px;
  animation: fadeInUp 0.5s ease-out forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

.hero-cta {
  display: flex;
  align-items: center;
  gap: 14px;
  animation: fadeInUp 0.5s ease-out forwards;
  animation-delay: 0.7s;
  opacity: 0;
}

.btn-hero {
  padding: 10px 20px;
  font-size: 0.813rem;
  font-weight: 600;
  line-height: 22.4px;
  text-transform: uppercase;
}

.shop {
  background-color: var(--white-100);
  color: var(--black-80);
}

.view {
  background-color: transparent;
  color: var(--white-100);
  border: 1px solid var(--white-50);
}

.shop:hover {
  background-color: var(--white-50);
}

.view:hover {
  border-color: var(--white-100);
}

.hamburger {
  background-color: transparent;
  display: none;
}

.btn-hamburger {
  color: var(--white-100);
}
